<h1>Coding Events</h1>

<p>
    <partial name="/Views/Shared/_LinkListPartial.cshtml" />
</p>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events added yet</p>
}

<ul>
    @foreach (string meeting in ViewBag.events)
    {
        <li>@meeting</li>
    }
</ul>


<link rel="stylesheet" type="text/css" href="~/css/custom.css">

<script src="~/js/custom.js"></script>
